.hire-me {
    padding: 30px 15%;
    background-image: linear-gradient(to bottom, rgb(25, 25, 25), rgb(0, 0, 0));
    background-color: rgb(34, 34, 34);
}

.hire-me h1,
.hire-me h2,
.hire-me p {
    text-align: center;
}

.hire-me p {
    font-size: 1.2rem;
    margin-top: -20px;
}

@media screen and (max-width:960px) {
    .hire-me {
        padding: 20px 10%;
    }
}