.projects-container {
    background-image: linear-gradient(to bottom, rgb(25, 25, 25), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(to bottom, rgb(25, 25, 25), rgb(0, 0, 0));
    background-color: rgb(34, 34, 34);
    padding: 30px 15%;
}

.projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width:960px) {
    .projects-container {
        padding: 30px 5%;
    }
}