.container {
    padding: 30px 15%;
    background-image: linear-gradient(to bottom, rgb(25, 25, 25), rgb(0, 0, 0));
    background-color: rgb(34, 34, 34);
}

@media screen and (max-width:960px) {
    .container {
        padding: 30px 10%;
    }
}