.hire-list-container {
    margin: 20px auto;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-areas: 'a b' 'c d';
    border-radius: 8px;
    overflow: hidden;
}

.hire-fiver,
.hire-upwork,
.hire-freelancer,
.hire-devtasir {
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: 300ms all ease;
    overflow: hidden;
}

.hire-fiver {
    grid-area: a;
    background-color: blueviolet;
}

.hire-upwork {
    grid-area: d;
    background-color: rgb(235, 206, 42);
}

.hire-freelancer {
    grid-area: c;
    background-color: rgb(15, 201, 207);
}

.hire-devtasir {
    grid-area: b;
    background-color: rgb(226, 43, 43);
}

.hire-list-container div img {
    width: 100%;
    height: 100%;
}

.hover-effect {
    cursor: pointer;
}

.hover-image-effect {
    transform: scale(1.2) rotate(10deg);
    transition: 500ms all ease;
}

.image {
    transition: 500ms all ease;
}

@media screen and (max-width:960px) {
    .hire-list-container {
        height: 300px;
        width: 300px;
    }
    .hire-fiver,
    .hire-upwork,
    .hire-freelancer,
    .hire-devtasir {
        height: 150px;
        width: 150px;
    }
}